<nav class="navbar navbar-light">
    <div class="container">
        <a class="navbar-brand" href="index.html" [class]="{ highlight: isHighlight }" [style]="{ 'font-size': fontSize + 'px'}">conduit</a>
        <input class="form-control form-control-sm search-input" type="text" placeholder="Keyword" [(ngModel)]="keyword">
        <button class="btn btn-sm btn-primary" (click)="search($event)">
          <i class="ion-search"></i>
        </button>
        <span *ngIf="keyword === ''">請輸入關鍵字</span>
        <!-- <button class="btn btn-sm btn-primary" (click)="resetStatus()">
          Start
        </button> -->
        <!-- Timer: <label>{{counter}}</label> Count: <label [innerText]="mouseCounter"></label> -->
    </div>
</nav>
